.movieListItem {
  width: 23%;
  padding: 0 8px;
  position: relative;
  cursor: pointer;
  margin-top: 30px;

  &:hover {
    .movieListItemPoster {
      box-shadow: 0 0 20px -1px #ff3333;
      img {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }

    .movieListItemName {
      transform: scale(1.1);
      transition: 0.3s;
      color: #ff3333;
      font-weight: 500;
    }
  }

  .movieListItemPoster {
    width: 100%;
    height: 210px;
    overflow: hidden;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    div {
      background-color: #ffffcc;
      color: #ff3300;
      width: 50px;
      padding: 2px;
      font-size: 16px;
      position: absolute;
      bottom: 33px;
      left: 5px;
    }
  }

  .movieListItemName {
    font-size: 16px;
    text-align: center;
    color: white;
  }
}
